<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="wrapper">

<h1>Welcome</h1>

<p style="text-align:center; margin:20px 0;">
Logged in as <b>{{ username }}</b>
</p>

<div style="display:flex; flex-direction:column; gap:20px;">

<a href="{{ url_for('feedback.feedback_page') }}" class="btn">
Submit Feedback
</a>

<a href="{{ url_for('auth.logout') }}" class="btn">
Logout
</a>

</div>

</div>

</body>
</html>